<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>

  <title>
    <% if @page_title %>
      <%= "#{@page_title} >" %>
    <% end %>
    
    <%= Settings.site_title %>
  </title>

</head>

<body id="<%= "#{controller.controller_name.tableize.singularize}_#{controller.action_name}" %>" class="<%= "#{controller.controller_name.tableize.singularize} #{controller.action_name}" %>">

  <% flash.each do | key, msg | %>
    <%= content_tag :div, msg, :class => [key, " message"], :id => "notice_#{key}" %>
  <% end %>

  <%= yield %>

</body>

</html>
